/*Colors*/
.dark-blue{
color: #004c8e ;
}
.orange{
  color: #e37222 ;  
    
}
.light-blue{
  color: #0065bd ;  
}

.light-grey{
 color: #7f94af ;   
}
.green{
  color: #7bb50c ;  
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
    background-color: #f1f1f1;
    	background-image: url("../images/siteback.png");
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #004c8e;
  color:#fff;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-white {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
/*  height: 500px;*/
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
    top: 20px;
    text-align: left;
    text-shadow: none;
    right: 5%;
    left: 5%;
}

.carousel-caption h4{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: HelveticaNeue;
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 700px;
/*  background-color: #f1f1f1;*/
}
.carousel-inner > .item > img {
/*  position: absolute;*/
/*
  top: 0;
  left: 0;
*/
  min-width: 100%;
/*  height: 500px;*/
}

.carousel-inner {
    position: relative;
    max-width: 1120px;
    overflow: hidden;
    margin: auto;
}

.slide-image {
    right: 5%;
    left: 5%;
    position:absolute;
    top: 110px;
}

.slide-image img{
    width: 100%
}

.carousel-indicators {
    bottom: 0px;
}


/*NAVIGATION*/
body {
	padding-top:70px;
}
.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
    float: left;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
padding: 100px;

}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-collapse.collapse {
    display: none!important;
}

.navbar-collapse.collapse.in{
    display: block!important;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-brand {
    color: #000;
}

.subhead-bar{
    color: #666;
    font-size: 13px;
}

.navbar{
    min-height: 80px;;
}

.navbar-toggle .icon-bar{
    display: block;
    width: 34px;
    height: 2px;
    border-radius: 0px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 8px;
}
.navbar-toggle {
padding: 20px 20px;    
}

.right-arrow{
display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background: url(../images/arrow.svg);
  background-size: 50px 50px;
    position: absolute;
top: 50%;
z-index: 5;
display: inline-block;

}

.navbar-default{
    background-color:rgba(248,248,248,0.98);
}

.carousel-control .right-arrow, .carousel-control .icon-prev {
    right: 50%;
    margin-left: -10px;
}


.left-arrow{
display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background: url(../images/arrow-left.svg);
  background-size: 50px 50px;
    position: absolute;
top: 50%;
z-index: 5;
display: inline-block;

}

.carousel-control .left-arrow{
    left: 50%;
    margin-left: -10px;
}

.carousel-indicators .active{
    background-color: #00adef;
      height: 13px;
    width: 13px;
    border: 2px solid #acddef;
}

.carousel-indicators li{
    height: 13px;
    width: 13px;
    border: 2px solid #ccc;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #eceff3;
}

.navbar-nav>li>a {

    font-size: 18px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}

.number-bold{

}

.client-branding{
  float: right;
  width: 200px;
  margin-top: 30px;
  margin-right: 30px;
}

.client-branding img{
width: 100%;
}

.radio {     z-index: 9999999; }
.carousel-control {
    width: 10%;
}
.hide {display: none;}
.show {display: block;}

.slide-image .radio{
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="checkbox"], input[type="radio"] {
    margin: 8px 0px 0px;
}

.result{

    border-top: 1px solid rgb(102, 102, 102);
    margin-top: 20px;
    padding-top: 20px;
}

.modal-body img{
    width: 100%;
}

/*MODULE 1 buttons*/

.multi-layered-img { background-image: url('../../slides/01/slide_5.svg'); width: 1008px; height: 492px; background-size: cover; position:relative; }
.transparent-mask { display:block; position: absolute; cursor: pointer; z-index: 99999999;}
#findandkillem1 {  width: 103px; height: 64px; top: 119px; left: 185px; }
#findandkillem2 {  width: 75px; height: 50px; top: 119px; left: 317px; }
#findandkillem3 {  width: 75px; height: 50px; top: 214px; left: 503px;}
#findandkillem4 {  width: 84px; height: 50px; top: 216px; left: 913px;}
#findandkillem5 {  width: 107px; height: 76px; top: 402px; left: 783px;}

/*MODULE 7 buttons*/

.multi-layered-img-mod7-1 { background-image: url('../../slides/07/slide_3.png'); width: 1008px; height: 492px; background-size: cover; position:relative; 
}

#mod7-1-a {  width: 123px;
height: 44px;
top: 157px;
left: 375px;
 }

#mod7-1-b {  width: 125px;
height: 50px;
top: 239px;
left: 376px;
}

#mod7-1-c {  width: 125px;
height: 50px;
top: 324px;
left: 376px;

}


/*Slide 6*/
.multi-layered-img-mod7-6 { background-image: url('../../slides/07/slide_6.svg'); width: 1008px; height: 492px; background-size: cover; position:relative; 
}
#mod7-6-a { 
width: 273px;
height: 214px;
top: 127px;
left: 175px;
}

#mod7-6-b {  
width: 295px;
height: 230px;
top: 119px;
left: 526px;

}

/*Module 6 popups*/
.multi-layered-img-mod6-7 { background-image: url('../../slides/06/slide_8.svg'); width: 1008px; height: 492px; background-size: cover; position:relative; 
}
#mod6-8-a {  
width: 193px;
height: 284px;
top: 83px;
left: 369px;
/*    background-color: red;*/
}

#mod6-8-b {  
width: 192px;
height: 280px;
top: 84px;
left: 779px;
/*background-color: red;     */

}

/*Module 6 popups*/
.multi-layered-img-mod6-11 { background-image: url('../../slides/06/slide_11.svg'); width: 1008px; height: 492px; background-size: cover; position:relative; 
}
#mod6-11-a {  
width: 403px;
height: 334px;
top: 83px;
left: 569px;
/*    background-color: red;*/
}


/*Module 4 popups*/
.multi-layered-img-mod4-4 { background-image: url('../../slides/04/slide_4.svg'); width: 1008px; height: 492px; background-size: cover; position:relative; 
}
#mod4-4-a {  
width: 293px;
height: 164px;
top: 161px;
left: 359px;
/*    background-color: red;*/
}

#mod4-4-b {  
width: 252px;
height: 90px;
top: 144px;
left: 679px;
/*background-color: red;     */

}

#mod4-4-c {  
width: 252px;
height: 90px;
top: 244px;
left: 679px;
/*background-color: red;     */

}



/*MODULE 2 buttons*/
#module2button1 {  width: 198px; height: 80px; top: 189px; left: 294px; }
#module2button2 {  width: 198px; height: 35px; top: 366px; left: 294px; }
#module2button3 {  width: 198px; height: 130px; top: 406px; left: 574px; }
#module2button4 {  width: 198px; height: 180px; top: 236px; left: 864px; }



/*TABS for Module 3*/
.control-tabs{
    margin-top: 100px;
    height: 520px;
        position: relative;
    z-index: 15;
    font-size: 16px;
}

.right-side-content{
        height: 100%;
    background-color: #0065bd;
    color:#ffffff;
 padding: 20px;
    height: 520px;
 font-family: HelveticaNeueLight;
    font-size: 24px;
}

.left-side-content{
    background-color: rgb(0, 173, 239);
    color:#ffffff;
    color:#ffffff;
    padding-right: 0px;
    padding-top: 20px;
    padding-right: 20px;
    height: 520px;;
}


.facet-descriptons h3{
    color: #222222;
    border-top: 3px solid #222222;
    padding-bottom: 20px;
    color: #ffffff;
}
/*!
 * bootstrap-vertical-tabs - v1.1.0
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-06-06
 * Copyright (c) 2014 Ä°smail Demirbilek
 * License: MIT
 */

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    color:#0065bf;
}


.nav-tabs > li > a{
    line-height: 1.2;
      font-size: 16px;
}

.tabs-left, .tabs-right {
  border-bottom: none;
/*  padding-top: 20px;*/
}
.tabs-left {
/*  border-right: 1px solid #ddd;*/
    
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}


.tabs-left>li>a {
  border-radius: 0px;
  margin-right: 0;
  display:block;
    color:#ffffff;
}

.vertical-text {
  margin-top:50px;
  border: none;
  position: relative;
}
.vertical-text>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text>li>a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.vertical-text>li.active>a,
.vertical-text>li.active>a:hover,
.vertical-text>li.active>a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.vertical-text.tabs-left {
  left: -50px;
}
.vertical-text.tabs-right {
  right: -50px;
}
.vertical-text.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.facet-descriptons{
    position: relative;
    z-index: 1020;
    
}

/*Module 3 fade ins*/
/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.fade-in.two {
-webkit-animation-delay: 1.0s;
-moz-animation-delay:1.0s;
animation-delay: 1.0s;
}

.fade-in.three {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
animation-delay: 1.5s;
}


.fade-in.four {
-webkit-animation-delay: 2.0s;
-moz-animation-delay: 2.0s;
animation-delay: 2.0s;
}

.fade-in.five {
-webkit-animation-delay: 2.5s;
-moz-animation-delay: 2.5s;
animation-delay: 2.5s;
}

.fade-in.six {
-webkit-animation-delay: 3.0s;
-moz-animation-delay: 3.0s;
animation-delay: 3.0s;
}

.fade-in.seven {
-webkit-animation-delay: 3.5s;
-moz-animation-delay: 3.5s;
animation-delay: 3.5s;
}

.fade-in.eight {
-webkit-animation-delay: 4.0s;
-moz-animation-delay: 4.0s;
animation-delay: 4.0s;
}

.fade-in.nine {
-webkit-animation-delay: 4.5s;
-moz-animation-delay: 4.5s;
animation-delay: 4.5s;
}

.fade-in.ten {
-webkit-animation-delay: 5.0s;
-moz-animation-delay: 5.0s;
animation-delay: 5.0s;
}

.fade-in.eleven {
-webkit-animation-delay: 5.5s;
-moz-animation-delay: 5.5s;
animation-delay: 5.5s;
}

.fade-in.twelve {
-webkit-animation-delay: 6.0s;
-moz-animation-delay: 6.0s;
animation-delay: 6.0s;
}





/*---make a basic box ---*/
.box{
    width: 1008px;
    height: 492px;
position: relative;
color: white;
float: left;
background: #27a5d2;
}

.slides-fade{
    position: absolute;
    top: 0px;
    bottom: 0px;

}

.slides-fade img{
        width: 1008px;
    height: 492px;
}

/*---make a basic box ---*/
.slide-3-1{
    background-image: url(../../slides/03/slide_3-0.jpg);
    background-size: cover;
        z-index: 3000;
}

/*---make a basic box ---*/
.slide-6-1{
    background-image: url(../../slides/03/slide_6-1.png);
    background-size: cover;
        z-index: 3000;
}

/*---make a basic box ---*/
.slide-6-2{
    background-image: url(../../slides/03/slide_6-6.png);
    background-size: cover;
        z-index: 3000;
}


/*Module 3 popups*/

/*Slide 3*/
.multi-layered-img-mod3-7 { background-image: url('../../slides/03/slide_7.svg'); width: 1008px; height: 492px; background-size: cover; position:relative; 
}
#mod3-7-a { 
width: 103px;
height: 94px;
top: 97px;
left: 55px;
/*    background-color: red;*/
}

#mod3-7-b {  
width: 103px;
height: 94px;
top: 97px;
left: 165px;
/*    background-color: red;*/
}

#mod3-7-c {  
width: 135px;
height: 100px;
top: 219px;
left: 40px;
/*    background-color: red;*/
}


/*Slide 11*/
.multi-layered-img-mod3-11 { background-image: url('../../slides/03/slide_11.svg'); width: 1008px; height: 492px; background-size: cover; position:relative; 
}
#mod3-11-a { 
width: 103px;
height: 94px;
top: 97px;
left: 286px;
/*    background-color: red;*/
}

#mod3-11-b {  
width: 133px;
height: 94px;
top: 227px;
left: 271px;
/*    background-color: red;*/
}

#mod3-11-c {  
width: 71px;
height: 100px;
top: 219px;
left: 420px;
/*    background-color: red;*/
}



/*Slide 15*/
.multi-layered-img-mod3-15 { background-image: url('../../slides/03/slide_15.svg'); width: 1008px; height: 492px; background-size: cover; position:relative; 
}
#mod3-15-a { 
width: 71px;
height: 100px;
top: 219px;
left: 420px;
/*    background-color: red;*/
}


/*Slide 19*/
.multi-layered-img-mod3-19 { background-image: url('../../slides/03/slide_19.svg'); width: 1008px; height: 492px; background-size: cover; position:relative; 
}
#mod3-19-a { 
width: 71px;
height: 100px;
top: 219px;
left: 420px;
/*    background-color: red;*/
}

#mod3-19-b {  
width: 71px;
height: 100px;
top: 219px;
left: 490px;
/*    background-color: red;*/
}

#mod3-19-c {  
width: 71px;
height: 100px;
top: 219px;
left: 575px;
/*    background-color: red;*/
}


/*Slide 23*/
.multi-layered-img-mod3-23 { background-image: url('../../slides/03/slide_23.svg'); width: 1008px; height: 492px; background-size: cover; position:relative; 
}
#mod3-23-a { 
width: 151px;
height: 100px;
top: 219px;
left: 30px;
/*    background-color: red;*/
}

#mod3-23-b {  
width: 131px;
height: 100px;
top: 219px;
left: 270px;
/*    background-color: red;*/
}

#mod3-23-c {  
width: 91px;
height: 100px;
top: 95px;
left: 775px;
/*    background-color: red;*/
}


/*Slide 24*/
.multi-layered-img-mod3-24 { background-image: url('../../slides/03/slide_24.svg'); width: 1008px; height: 492px; background-size: cover; position:relative; 
}
#mod3-24-a { 
width: 81px;
height: 70px;
top: 119px;
left: 160px;
/*    background-color: red;*/
}

#mod3-24-b {  
width: 81px;
height: 70px;
top: 119px;
left: 360px;
/*    background-color: red;*/
}

#mod3-24-c {  
width: 71px;
height: 60px;
top: 315px;
left: 555px;
/*    background-color: red;*/
}


#mod3-24-d {  
width: 91px;
height: 100px;
top: 315px;
left: 165px;
/*    background-color: red;*/
}

